appdirs>=1.4.4
asttokens>=3.0.0
colorama>=0.4.6
executing>=2.2.0
icecream>=2.1.5
iniconfig>=2.1.0
Markdown>=3.8.2
packaging>=25.0
pillow>=11.3.0
pluggy>=1.6.0
psi-toml>=0.0.12
psiconfig>=0.0.13
psiutils>=0.1.67
Pygments>=2.19.2
PyGObject>=3.54.2,
python-dateutil>=2.9.0.post0
six>=1.17.0
tkinterweb>=4.4.4
tkinterweb-tkhtml>=1.1.1
tomli>=2.2.1
tomli_w>=1.2.0
